{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Expenses | APP24</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/jvectormap/jquery-jvectormap.css' %}">
  <!-- End plugin css for this page -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{% static '/css/demo/style.css' %}">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />

  <link rel="stylesheet" href="{% static 'css/datatable.css' %}">
</head>
<body>
<script src="{% static 'js/preloader.js' %}"></script>
  <div class="body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">

      <div class="mdc-drawer__header">
        <a href="#" class="brand-logo"><img src="{% static 'images/logo.svg' %}" alt="logo"></a>
      </div>

      <!-- Side Menu -->
      <div class="mdc-drawer__content">
        <div class="mdc-list-group">
          <nav class="mdc-list mdc-drawer-menu">
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="{% url 'dashboard' %}">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i>
                Dashboard
              </a>
            </div>
            
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel" data-target="ui-sub-menu">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">dashboard</i>
                Inventory
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="ui-sub-menu">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="">
                      Warehouse
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="">
                      Main Store
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="">
                      Branch 1
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="">
                      Return
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'products_entry' %}">
                      New Entries
                    </a>
                  </div>
                </nav>
              </div>
            </div>
            
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel" data-target="transactsubmenu">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">pages</i>
                Transactions
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="transactsubmenu">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'sales' %}">
                      Sales
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="">
                      Return
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'sales_entry' %}">
                      New Entries
                    </a>
                  </div>
                </nav>
              </div>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel" data-target="paymentsubmenu">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">pages</i>
                Payment
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="paymentsubmenu">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="">
                      Payment Method
                    </a>
                  </div>                  
                </nav>
              </div>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel" data-target="otherssubmenu">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">pages</i>
                Others
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="otherssubmenu">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="">
                      Expenses
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="">
                      Customers
                    </a>
                  </div>                    
                </nav>
              </div>
            </div>
            <!-- Customers -->
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">grid_on</i>
                Misc
              </a>
            </div>
          </nav>
        </div>
        <!-- Side Menu Ends -->

    </aside>
    <!-- partial -->
    <div class="main-wrapper mdc-drawer-app-content">
      <!-- partial:partials/_navbar.html -->
      <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
          <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button sidebar-toggler">menu</button>
          </div>
        </div>
      </header>
      
      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
        <div class="mdc-card p-0">
          <h6 class="card-title card-padding pb-0">All Expenses</h6>
          <div class="table-responsive">
            <table class="table" id="example">
              <thead>
                <tr>
                    <th class="text-left">EID</th>
                    <th class="text-left">PARTICULAR</th>
                    <th class="text-left">QUANTITY</th>
                    <th class="text-left">AMOUNT</th>
                    <th class="text-left">DATE</th>
                </tr>
            </thead>
            <tbody>
              {% for expen in exp %}
                <tr>
                    <td class="text-left">{{expen.id}}</td>
                    <td class="text-left">{{expen.Particular}}</td>
                    <td class="text-left">{{expen.Quantity}}</td>
                    <td class="text-left">₦{{expen.Amount}}</td>
                    <td class="text-left">{{expen.Date}}</td>
                </tr>
              {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                    <th class="text-left">EID</th>
                    <th class="text-left">PARTICULAR</th>
                    <th class="text-left">QUANTITY</th>
                    <th class="text-left">AMOUNT</th>
                    <th class="text-left">DATE</th>
                </tr>
            </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
      
    
             
           
               
      
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{% static 'vendors/chartjs/Chart.min.js' %}"></script>
  <script src="{% static 'vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
  <script src="{% static 'vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'js/material.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <!-- End custom js for this page-->


  <script src="{% static 'js/datatable.js' %}"></script>
    <script>
      $(document).ready(function () {
        $('#example').DataTable();
    });
  </script>
</body>
</html> 